$mainWindow: #619FAC;
$textColor: #DBE6EF;
$textDoneColor: #dbe6efdc;
$inputColor: #DBE6EF;
$buttonColor: #304B74;
$headerColor: #2B6C94;
$itemColor: #304B74;
$itemDoneColor: #304b74de;
$addButtonColor: #8AA4BC;
$addInputBorder: #4f6c97;
$deviderColor: #AEC0D1;


$mainOpacity: 0.8;
$logOpacity: 0.94;


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    height: 100%;
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: none;
}

u {
    text-decoration: underline;
}

header {
    position: absolute;
    width: 100%;
    height: 5%;
    background-color: $headerColor;
    opacity: $mainOpacity;
    z-index: 100;
}

.btn{
    background-color: $headerColor;
    border: none;
    box-shadow: none !important;
}

.btn:focus{
    background-color: $headerColor;
    border: none;
}

.btn:active{
    background-color: $headerColor;
    border: none;
}

.btn:hover{
    background-color: $headerColor;
    border: none;
}

.btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    background-color: $headerColor;
}

.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}
.dropdown{
    &-menu{
        background-color: $itemColor;
        padding: 10px;
    }    
    &-item{
        margin: 5px;
    }
    &-item:hover{
        background-color: $itemColor;
    }
    &-img{
        margin-right: 15px;
    }
}

.inner {
    width: 65%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
}

.titleText {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 43px;
    color: $textColor;

    text-align: center;
}

.text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 43px;
    color: $textColor;

    text-align: center;
}

.smallText {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $textColor;

    text-align: center;
}

.dialogWindow {
    margin: auto auto;
    padding: 30px;

    background-color: $mainWindow;
    opacity: $logOpacity;
    border-radius: 20px;

    &-email{
        max-width: 80%;
        margin: 45px auto 0 auto;
    }

    &-password{
        max-width: 80%;
        margin: 45px auto 0 auto;
    }

    &-input{
        background-color: $inputColor;
        border-color: $inputColor;
        border-radius: 10px;
    }
    
    &-input:active{
        background-color: $inputColor;
        border-color: $inputColor;
    }
    &-input:focus{
        background-color: $inputColor;
        border-color: $inputColor;
    }
    &-buttons{
        margin-top: 45px;
    }
}

.button{
    background-color: $buttonColor;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    font-size: 22px;
    width: inherit;
    height: inherit;
    color: $textColor;
    &-large{
        margin: auto;
        width: 130px;
        height: 55px;
    }
    &-small{
        margin: auto;
        width: 105px;
        height: 45px;
    }
}

.add {
    &-form{
        display: flex;
        justify-content: space-between;
    }
    &-title{
        display: flex;
        background-color: $itemColor;
        padding: 23px 30px;
        width: 93%;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
        border-radius: 10px 0px 0px 10px;
    }
    &-button{
        background-color: $addButtonColor;
        padding: 10px;
        border: none;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
        border-radius: 0px 10px 10px 0px;
    }
    &-input{
        background-color: $itemColor;
        border: none;
        width: 100%;
        color: white;
        margin-left: 12px;
    }
    &-input::placeholder{
        color: $textColor;
        font-size: large;
        opacity: 0.8;
    }
    &-input:focus{
        outline: none !important;
    }
}

.devider{
    margin: 36px auto;
    width: 95%;
    height: 3px;
    background-color: $deviderColor;
}

.item {
    display: flex;
    justify-content: space-between;
    background-color: $itemColor;
    padding: 23px 30px 23px 40px;
    width: 100%;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 22px 0;    
    &-done{
        background-color: $itemDoneColor;
    }
    &-title{
        font-size: large;
        color: $textColor;
    }
    &-title-done{
        text-decoration: line-through;
        color: $textDoneColor;
    }
    &-button{
        width: 27px;
        height: 27px;
        border-radius: 8px;
        border: 3px $addButtonColor solid;
        background-color: $itemColor;
    }
    &-button-done{
        background-color: $addButtonColor !important;
    }

}

.login {
    width: 550px;
    max-width: 550px;
}

.registration {
    width: 550px;
    max-width: 550px;
}

.reset-password{
    width: 550px;
    max-width: 550px;
}

.reset-password-done{
    width: 550px;
    max-width: 550px;
}

.reset-password-confirm{
    width: 550px;
    max-width: 550px;
}

.reset-password-complete{
    width: 550px;
    max-width: 550px;
}

.change-password{
    width: 550px;
    max-width: 550px;
}

.index{
    width: 1200px;
    height: 80%;
    min-width: 400px;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
}

.disp-none {
    display: none !important;
}

.disp {
    display: block !important;
}


  

