{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}To Do : {{ user.email }}{% endblock title %}

{% block header %}
<header>
    <div class="inner">
        <h2 class="text">Hello, {{ user.email }}</h2>
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item smallText" href="{% url 'logout' %}"><img
                        src="{% static 'taskapp/style/img/logout.svg' %}" class="dropdown-img">Logout</a>
                <a class="dropdown-item smallText" href="{% url 'password_change' %}"><img
                        src="{% static 'taskapp/style/img/change.svg' %}" class="dropdown-img">Change password</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item smallText" href="https://github.com/NikitaArd/django-to-do"><img src="{% static 'taskapp/style/img/github.svg' %}"
                        class="dropdown-img">Repo of project</a>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}
<div class="dialogWindow index dropend">
    <form id="add_form" class="add-form">
        {% csrf_token %}
        <div class="add-title">
            <img src="{% static 'taskapp/style/img/line.svg' %}">
            {{ form.title }}
        </div>
        <button type="submit" class="add-button" id="add_button">
            <img src="{% static 'taskapp/style/img/add.svg' %}" alt="Add">
        </button>
    </form>
    <div class="devider disp-none" id="first"></div>
    <div id="tasks">
        {% for task in tasks %}
        <div class="item" id="{{ task.pk }}">
            <p class="item-title">{{ task.title }}</p>
            <div class="item-interaction">
                <button type="submit" class="item-delete" id="delete-button" value="{{ task.pk }}"></button>
                <button type="submit" class="item-update" id="update-button" value="{{ task.pk }}"></button>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="devider disp-none" id="second"></div>

    <div id="tasksDone">
        {% for taskDone in tasksDone %}
        <div class="item item-done" id="{{ taskDone.pk }}">
            <p class="item-title item-title-done">{{ taskDone.title }}</p>
            <div class="item-interaction">
                <button type="submit" class="item-delete" id="delete-button" value="{{ taskDone.pk }}"></button>
                <button type="submit" class="item-update item-update-done" id="update-button" value="{{ taskDone.pk }}"></button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script src="{% static 'taskapp/scripts/scripts.js'%}"></script>
{% endblock script %}