{% extends 'layout/basic.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Change password{% endblock title %}

{% block header%}
{% endblock header %}

{% block content %}
    <div class="dialogWindow change-password">
        <form method="POST">
            {% csrf_token %}
            <div class="dialogWindow-title">
                <h1 id="dialogWindow_title" class="titleText">{{ title }}</h1>
            </div>
            <div class="dialogWindow-password" style="margin-top: 45px;">
                <div class="form-floating">
                    {% if 'old' in isInvalid %}
                        {% render_field form.old_password class+="is-invalid" %}
                    {% else %}
                        {{ form.old_password }}
                    {% endif %}
                    <label for="floatingPassword">Old password</label>
                </div>
                <div class="form-floating" style="margin-top: 60px">
                    {% if 'new' in isInvalid %}
                        {% render_field form.new_password1 class+="is-invalid" %}
                    {% else %}
                        {{ form.new_password1 }}
                    {% endif %}
                    <label for="floatingPassword">New password</label>
                </div>
                <div class="form-floating" style="margin-top: 20px">
                    {% if 'new' in isInvalid %}
                        {% render_field form.new_password2 class+="is-invalid" %}
                    {% else %}
                        {{ form.new_password2 }}
                    {% endif %}
                    <label for="floatingPassword">Repeat new password</label>
                </div>
            </div>
            <div class="dialogWindow-buttons">
                <div class="button-large" style="width: 210px;">
                    <input class="btn btn-primary button" type="submit" href="#" value="Confirm">
                </div>
            </div>
        </form>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}