{% extends 'layout/basic.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Reset password{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="dialogWindow reset-password">
    <form method="POST">
        {% csrf_token %}
        <div class="dialogWindow-title">
            <h1 id="dialogWindow_title" class="titleText">{{ title }}</h1>
        </div>
        <div class="dialogWindow-email" style="margin-top: 60px;">
            <div class="form-floating mb-3 ">
                {% if isInvalid == 'email' %}
                    {% render_field form.email class+="is-invalid" %}
                {% else %}
                    {{ form.email }}
                {% endif %}
                <label for="floatingInput" style="text-align: center">Email address</label>
            </div>
        </div>
        <p class="smallText">We will <u>send</u> you information </br>of reset password on your email</p>
        <div class="dialogWindow-buttons">
            <div class="button-large">
                <button class="btn btn-primary button" type="submit">Confirm</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}