{% extends 'layout/basic.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Registration{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="dialogWindow registration">
    <form method="POST">
        {% csrf_token %}
        <div class="dialogWindow-title">
            <h1 id="dialogWindow_title" class="titleText">{{ title }}</h1>
        </div>
        <div class="dialogWindow-email">
            <div class="form-floating mb-3 ">
                {% if isInvalid == 'email' %}
                    {% render_field form.email class+="is-invalid" %}
                {% else %}
                    {{ form.email }}
                {% endif %}
                <label for="floatingInput" style="text-align: center">Email address</label>
            </div>
        </div>
        <div class="dialogWindow-password" style="margin-top: 65px;">
            <div class="form-floating">
                {% if 'password' in isInvalid %}
                    {% render_field form.password1 class+="is-invalid" %}
                {% else %}
                    {{ form.password1 }}
                {% endif %}
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating" style="margin-top: 20px">
                {% if 'password' in isInvalid %}
                    {% render_field form.password2 class+="is-invalid" %}
                {% else %}
                    {{ form.password2 }}
                {% endif %}
                <label for="floatingPassword">Repeat password</label>
            </div>
        </div>
        <div class="dialogWindow-buttons">
            <div class="button-small">
                <button class="btn btn-primary button" type="submit">Sign up</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}