{% extends 'layout/basic.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Reset password{% endblock title %}

{% block content %}
<div class="dialogWindow reset-password-done">
    <div class="dialogWindow-title">
        <h1 id="dialogWindow_title" class="titleText">It went!</h1>
    </div>
    </br>
    <p class="text">Mail have <u>already</u> sent to you</p>
    <div style="display: flex;">
        <img src="{% static 'taskapp/style/img/poszloU.gif'%}" alt="Poszło" width="25%" style="margin: 50px auto 0 auto;">
    </div>
</div>
{% endblock content %}


{% block scripts %}
{% endblock scripts %}