{% extends 'layout/basic.html' %}
{% load static %}
{% load widget_tweaks %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="dialogWindow reset-password-complete">
    <div class="dialogWindow-title">
        <h1 id="dialogWindow_title" class="titleText">Congratulation! </br> You <u>reset</u> your password</h1>
    </div>
    </br>
    <div class="dialogWindow-buttons">
        <div class="button-large" style="width: 210px;">
            <button class="btn btn-primary button" type="submit" onclick="location.href='{% url 'login' %}'">Go to login page</button>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}