{% extends 'layout/basic.html' %}
{% load static %}
{% load widget_tweaks %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="dialogWindow reset-password-confirm">
    <form method="POST">
        {% csrf_token %}
        <div class="dialogWindow-title">
            <h1 id="dialogWindow_title" class="titleText">
                {{ title }}
            </h1>
        </div>
        <div class="dialogWindow-password" style="margin-top: 65px;">
            <div class="form-floating">
                {% if isInvalid %}
                    {% render_field form.new_password1 class+="is-invalid" %}
                {% else %}
                    {{ form.new_password1 }}
                {% endif %}
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating" style="margin-top: 40px">
                {% if isInvalid %}
                    {% render_field form.new_password2 class+="is-invalid" %}
                {% else %}
                    {{ form.new_password2 }}
                {% endif %}
                <label for="floatingPassword">Repeat password</label>
            </div>
        </div>
        <div class="dialogWindow-buttons" style="margin-top: 65px;">
            <div class="button-large">
                <button class="btn btn-primary button" type="submit">Confirm</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}